extends ./layout.pug

block title
  title DSO-GROUP - Завод по производству дробильного оборудования

block basicSeo
  meta(name="description" content="Мы хотим предложить вам ознакомиться с богатым ассортиментом самого различного дробильно-сортировочного оборудования. DSO GROUP производит дробильное оборудование уже много лет и заслужил положительную репутацию во многих регионах России и СНГ.")
  meta(name='keywords', content='ДСО ГРУПП, DSO-GROUP, дробилки, роторные дробилки, дробильное оборудование, купить дробилку, дробилки РД, дробилки серии РД-Т, роторные дробилки, дробилки серии COBRA (РД), дробильное оборудование, сортировочное оборудование, питатели для дробилок, дробильно-сортировочные линии, конвейерное оборудование, промывочное и обогатительное оборудование')

block content
  include ./components/totop.pug
  include ./components/header.pug
  include ./components/about.pug
  include ./components/services.pug
  include ./components/products.pug
  include ./components/website.pug
  include ./components/contacts.pug