doctype html
html(lang="ru")
  head

    //- Meta
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;display=swap")

    //- Basic Seo
    block basicSeo
      meta(name="description" content="")
      meta(name="keywords", content="")

    //- Favicons
    //- link(rel="icon", type="image/png", sizes="32x32", href="images/favicons/favicon-32x32.png")
    //- link(rel="icon", type="image/png", sizes="16x16", href="images/favicons/favicon-16x16.png")
    //- link(rel="shortcut icon", href="images/favicons/favicon.ico")
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#bf3c3c">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    //- Title
    block title
      title Title
  body
    block content