div(class="uk-section uk-section-secondary uk-light")
  div(class="uk-container")
    div(class="uk-column-1-2@m")
      div
        img(src="assets/agreement.svg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-fade;")
      div
        h3(class="uk-h1" id="about") О нашей компании

        p Предоставляем услуги дробления и сортировки по всей России, с доставкой оборудования, монтажом и специалистами комплекса объемом минимум от 5000 тонн.

        p Одним из приоритетных направлений нашей компании является производство и продажа дробильно-сортировочного оборудования. Также мы можем предоставить вам услугу дробления или сортировки щебня во всех регионах России. (Гранит, Гравий, ЖБИ и др.) 

        p Богатый опыт и своя производственная база позволили нашей компании стать одной из ведущих производителей дробильно-сортировочного оборудования. Пользуясь оборудованием нашей компании, наши клиенты, используя современные технологии обработки материалов, достигают успехов в металлургических, дорожно-строительных, золотодобывающих, строительных отраслях промышленности.