div(id="contacts" class="uk-section uk-section-secondary uk-light")
  div(class="uk-container")
    div(class="uk-column-1-2@m")
      div
        h3(class="uk-h1") Связаться с нами

        div(class="uk-margin-medium-top")
          dl(class="uk-description-list uk-description-list-divider")
            dt(style="color: white") Владимир
            dd Заявки на услугу дробления и сортировки
            ul(class="uk-list")
              li
                span(class="uk-margin-small-right" uk-icon="phone")
                a(href="tel:+7 927 (667)-05-95" class="uk-button uk-button-text") +7 (927) 667-05-95
              li
                span(class="uk-margin-small-right" uk-icon="mail")
                a(href="mailto:ehd77@mail.ru" class="uk-button uk-button-text" style="text-transform: lowercase") ehd77@mail.ru
            dt(style="color: white") Александр
            dd Заявки на дробильно-сортировочное оборудование
            ul(class="uk-list")
              li
                span(class="uk-margin-small-right" uk-icon="phone")
                a(href="tel:8 (800) 222-48-03" class="uk-button uk-button-text") 8 (800) 222-48-03
              li
                span(class="uk-margin-small-right" uk-icon="phone")
                a(href="tel:+7 (937) 011-05-15" class="uk-button uk-button-text") +7 (937) 011-05-15
              li
                span(class="uk-margin-small-right" uk-icon="mail")
                a(href="mailto:dsogroup@mail.ru" class="uk-button uk-button-text" style="text-transform: lowercase") dsogroup@mail.ru

      div
        img(src="assets/contact.svg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-fade;")