div(class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid style="height: 100vh")
  div(class="uk-flex uk-flex-column uk-flex-center uk-padding-large header--block")
    div(class="uk-flex uk-flex-middle")
      img(src="assets/logo.svg" width="160px" style="object-fit: contain")
      h1(class="uk-heading-medium uk-text-bolder uk-margin-small-left uk-margin-remove-top uk-margin-remove-bottom") DSO GROUP
    h2(class="uk-text-light uk-text-center uk-margin-small-top" uk-scrollspy="cls: uk-animation-slide-bottom;") Мы завод изготовитель дробильно-сортировочного оборудования
  div(class="uk-background-cover header--block" style="background-image:url('assets/header.jpg')" uk-scrollspy="cls: uk-animation-slide-right;")
  div(class="uk-position-small uk-position-bottom-center")
    a(class="uk-button uk-button-primary uk-button-large" uk-parallax="opacity: 1,0; y: 0,-100; end: 30vh;" uk-scrollspy="cls: uk-animation-slide-top;" href="#about" uk-scroll) Подробнее