div(class="uk-section")
  div(class="uk-container")
    div(class="uk-column-1-2@m uk-column-divider")
      div
        h3(class="uk-h1" id="services") В наши услуги входит
        div(class="uk-heading-bullet uk-h5" uk-scrollspy="cls: uk-animation-slide-left;") Дробление и сортировка материала в вашем городе под ключ
        div(class="uk-heading-bullet uk-h5" uk-scrollspy="cls: uk-animation-slide-left;") Производство дробильно-сортировочного оборудования
        div(class="uk-heading-bullet uk-h5" uk-scrollspy="cls: uk-animation-slide-left;") Услуги монтажа и шеф-монтажа
        div(class="uk-heading-bullet uk-h5" uk-scrollspy="cls: uk-animation-slide-left;") Помощь в доставке оборудования

      div(class="uk-flex uk-flex-center")
        img(src="assets/services.svg" width="400" uk-scrollspy="cls: uk-animation-fade;")
