div(class="uk-section" id="website")
  div(class="uk-container")
    div(class="uk-column-1-2@m uk-column-divider")
      div(class="uk-flex uk-flex-center")
        img(src="assets/website.svg" width="400" uk-scrollspy="cls: uk-animation-fade;")

      div
        h3(class="uk-h1") Наш каталог
        p Вы можете более подробно рассмотреть наш ассортимент самого различного дробильно-сортировочного оборудования вы можете в нашем каталоге. На данном сайте вы найдете всю необходимую информацию.

        p В разделе продукции вы найдете все необходимые технические характеристики по оборудованию, которое вас интересует. 

        a(class="uk-button uk-button-primary uk-button-large" uk-scrollspy="cls: uk-animation-slide-right;" href="https://zavod-dso.ru" target="_blank") Перейти

